/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
	color: black;
	text-shadow: 0 1px white;
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;


	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #999;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
	color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.builtin {
	color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #a67f59;
	background: hsla(0,0%,100%,.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #07a;
}


.token.regex,
.token.important {
	color: #e90;
}

.token.important {
	font-weight: bold;
}

.token.entity {
	cursor: help;
}



body {
	background: #fff;
	font-family: "helvetica neue" helvetica, arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,
h2,
p,
code {
	font-weight: normal;
	margin: 1.5em 20px;
}

h1 {
	font-size: 22px;
	line-height: 1;
	margin-bottom: 120px;
	margin-top: 0;
}

p a {
	color: #000;
}

strong {
	color: #ccc;
	float: left;
	font-family: times, "times new roman", serif;
	font-size: 42px;
	font-weight: normal;
	line-height: 1;
	margin-bottom: 20px;
	margin-right: 5px;
	margin-top: -0.05em;
}

code {
	clear: both;
}

#logo {
	display: block;
	margin: 20px 20px 0;	
}

#logo a {
	background: url(../_imgs/wordmark.png) no-repeat left top;
	display: block;
	height: 80px;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	width: 300px;
}

code {
	background: #efefef;
	display: block;
	overflow: scroll;
	padding: 10px !important;
}

#info {
	box-sizing: border-box;
	padding: 100px 20px;
	position: absolute;
	width: 40%;
}

#map_wrapper {
	background: #ccc;
	height: 100%;
	margin-left: 40%;
	position: fixed;
	width: 60%;
}

#map {
	height: 100%;
	width: 100%;
}